@import '../../../assets/scss/import-list';

.posts-list {
    padding: 20px 0;
}

.posts-list__heading {
    margin: 0 0 20px;
}

.posts-list__list {
    @include list-reset;
}

.posts-list__item {
    margin: 0 0 15px;

    &:last-of-type {
        margin-bottom: 0;
    }
}